html, body{
    margin:0;
    padding:0;
    font-family:Arial;
    box-sizing:border-box;
}

main{
    height:100vh;
    display:grid;
    justify-content:center;
    align-items:center;
}

main img{
    height:300px;
    cursor: pointer;
}

main div{
    text-align:center;
}